body {
    margin: 0;
    font-family: cursive;
    background: linear-gradient(to bottom, #191919, darkseagreen, #2E8B57, #191919);
    height: 100vh; 
}

.header {
    border-top: 2px solid #fff;
    background-color: #191919;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 auto;
    max-width: 2060px;
    font-family: cursive;
}

.header .menu a::after{
  content: "";
  display: block;
  border-bottom: 3px solid white;
  width: 100px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s linear;
  margin-top: 4px;
}

.header .menu a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s linear;
}

a[href="#reviews"] {
  color: white;
  text-decoration: none;
}

.SoundVibe {
    margin-left: 50px;
    margin: 0;
    font-size: 45px;
    text-align: left;
    flex-shrink: 0; 
}

.menu {
    display: flex;
    gap: 70px; 
    align-items: center;
    font-size: 20PX;
}


.teg_p {
    background-color: darkseagreen;
    color: white;
    border-radius: 25px;
    padding: 8px 20px;
    text-align: center;
    font-weight: bold;
    transition:  0.3s ease;
}

.teg_p:hover {
    background-color:  #2E8B57;
}



.start {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.song-details {
    max-width: 500px;
    text-align: center;
}

.txt {
    font-size: 18px;
    text-align: left;
}



.audi audio {
  width: 100%;
  height: 50px;
}


.ux_main{
    display: flex;
    flex-direction: row-reverse;
}

.top_hitss {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; 
}

.gen_music{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 175px; 
  margin-bottom: 60px;
}

.mo_zits{
  color: #FFFFFF;
  font-size: 25px;
  margin-top: -45px;
  text-decoration: none;
}




.con_mau{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.topss{
    transform: scale(0.7)
    scaleX(1.4);
}

.figma_ideas{
  font-size: 30px;
  color: #fff;
}

.text_vibe{
  font-size: 40px;
}

.premium_div{
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
}

.premium_div1{
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 50px;
}

.gradient-text{
  background: linear-gradient(to right, #2E8B80, #2E8B57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 75px;
}

.gradient-text2{
  background: linear-gradient(to right, #2E8B80, #2E8B57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 20px;
}

.dfrtdrtg{
  background-color: #191919;
}





















  

  footer {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 2px solid #fff;
    background-color: #191919;
  }
  
  footer .container {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 5rem;
    align-items: center; 
  
    
  }
  
  footer .container .profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    margin: 0;
    padding: 0;
  }
  
  footer .container .link-container {
    display: flex;
    align-items: flex-start;
    width: 70%;
    display: flex;
    gap: 4rem;
  }
  

  footer .container .profile ,
  footer .container .link-container{
    display: flex;
    min-height: 100px;
  }


  footer .container .link-container .information,
  footer .container .link-container .resource,
  footer .container .link-container .navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30%;
  }
  
  footer .container .profile .logo {
    display: flex;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
    gap: 4px;
  }
  
  
  footer .container .profile .logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  footer .container .profile p {
    font-weight: 400;
    margin-bottom: 8px;
  }
  
  footer .container .profile .social-media-container {
    display: flex;
    gap: 8px;
  }
  
  footer .container .profile .social-media-container .social-media {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 28px;
    padding: 6px;
    border-radius: 50%;
    background-color: #191919;
    transition: transform 1s linear;
  }
  
  footer .container .profile .social-media-container .social-media:hover {
    transform: rotateY(180deg);
  }
  
  footer .container .link-container .information h1,
  footer .container .link-container .resource h1,
  footer .container .link-container .navigation h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  footer .container .link-container .information ul,
  footer .container .link-container .resource ul,
  footer .container .link-container .navigation ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  footer .container .link-container .information ul li,
  footer .container .link-container .resource ul li,
  footer .container .link-container .navigation ul li {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  footer .container .link-container .information ul li::after,
  footer .container .link-container .resource ul li::after,
  footer .container .link-container .navigation ul li::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 100px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s linear;
    margin-top: 4px;
  }
  
  footer .container .link-container .information ul li:hover::after,
  footer .container .link-container .resource ul li:hover::after,
  footer .container .link-container .navigation ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.6s linear;
  }
  
  footer .container .link-container .information ul li a,
  footer .container .link-container .resource ul li a,
  footer .container .link-container .navigation ul li a {
    color: #fff;
    text-decoration: none;
  }
  

  footer .containersss form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

footer .containersss input,
footer .containersss textarea {
    width: 90%;
    max-width: 500px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent; 
    color: white;
    font-size: 16px;
    outline: none; 
}
footer .containersss textarea {
    resize: vertical;
}

footer .containersss button {
    font-family: cursive;
    max-width: 200px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color:darkseagreen;
    color: white;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer .containersss button:hover {
  transform: scale(1.2);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);
  background-color: #2E8B57; 
}

footer .containersss button:active {
  background-color: #d3d3d3; 
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}


footer .containersss h1{
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}